.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.nav-items>ul {
    list-style: none;
    display: flex;
}
.nav-items>ul>li {
    padding: 5px;
}

.logo{
    width: 50px;
    height: 50px;

}

.footer>ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.card{
    padding: 2px;
    margin: 5px;
    width: 200px;
    border: 1px solid black;

}
.card>img{
    width: 100%;
}
.resturant-list{
    display: flex;
    overflow: visible;
    overflow-wrap: anywhere;
    justify-content:space-around;
    flex-wrap: wrap;
}

.search-container{
    margin: 2px;
    display: flex;
}
.shimmer-wrapper {
    display: flex;
    overflow: visible;
    overflow-wrap: anywhere;
    justify-content:space-around;
    flex-wrap: wrap;
    padding: 2px;
    margin: 5px;
    width: 200px;
    border: 1px solid black;
    

}
.shimmer {
    width: 100%;
}

/* .shimmer {
    height: 200px; 
    background: #f6f7f8;
    background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-repeat: no-repeat;
    background-size: 800px 104px;
    display: block; 
    position: relative;
    overflow: hidden;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
}

@keyframes shimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0; 
    }
} */
